

.main-container{
    padding-left: 20px;
    padding-right: 20px;
}

.body-container {
    height: 400vh;
    padding-left: 16px;
    padding-right: 16px;
    


}

.fullWidthContainer{
   width: 99vw;
   padding: 0;
   margin: 0;

   
//    border: 1px solid red ;
}


